{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    		<!-- initial -->
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
        	<!-- first change -->
        <!-- <li><a href="{#% url 'detail' question.id %}">{{ question.question_text }}</a></li> -->
        	<!-- second change  -->
        	<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}